@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

body {
    background: rgb(255,255,255);
    background: -moz-linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(194,194,194,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(194,194,194,1) 100%);
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(194,194,194,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#c2c2c2",GradientType=1);
    font-family: 'Ubuntu';
    font-weight: bold;
    margin: 0;
    margin-top: /*55%*/ 300px;
    margin-bottom: 100px;
    /**/
    user-select:none;
}

button {
    font-family: 'Ubuntu';
    font-weight: bold;
    font-size: larger;
    background-color: dodgerblue;
    box-shadow: 0px 0px 50px 5px dodgerblue;
    border-style: solid;
    border-color: black;
    border-width: 3px;
    border-radius: 10px;
    padding: 10px;
    outline: none;
    margin: 5px;
    color: /*white*/ black;
    
}

button:hover{
    background-color: white;
    color: dodgerblue;
}

input {
    background-color: white;
    border-radius: 10px;
    font-family: 'Ubuntu';
    padding: 10px 5px;
    border-style: none;
    outline: none;
    margin: 5px;
}

img {
    width: 50%;
}

.curr {
    background: rgb(0,82,255);
    background: -moz-linear-gradient(90deg, rgba(0,82,255,1) 0%, rgba(0,155,255,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(0,82,255,1) 0%, rgba(0,155,255,1) 100%);
    background: linear-gradient(90deg, rgba(0,82,255,1) 0%, rgba(0,155,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0052ff",endColorstr="#009bff",GradientType=1);
    color: white;
    border-style: none;
    border-radius: 20px;
    width: 75%;
    padding: 20px;
}

.sign {
    width: 15px;
    padding: 4px 7px 0px 7px;
}

.info {
    background: rgb(231,0,255);
    background: -moz-radial-gradient(circle, rgba(231,0,255,1) 0%, rgba(128,0,255,1) 100%);
    background: -webkit-radial-gradient(circle, rgba(231,0,255,1) 0%, rgba(128,0,255,1) 100%);
    background: radial-gradient(circle, rgba(231,0,255,1) 0%, rgba(128,0,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e700ff",endColorstr="#8000ff",GradientType=1);
    color: white;
    border-style: none;
    border-radius: 30px;
    width: 75%;
    padding: 10px;
}

#amount {
    width: 150px;
}

select {
    background: rgb(255,255,255);
    background: -moz-linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 100%);
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#ffffff",GradientType=1);
    border-radius: 10px;
    font-family: 'Ubuntu';
    padding: 10px 5px;
    border-style: none;
    outline: none;
    margin: 5px;
}

.creators {
    font-size: smaller;
    color: dodgerblue;
}

.transfer {
    background-color: dodgerblue;
    color: rgb(18, 75, 133);
    padding: 10px;
    border-radius: 20px;
}

.convert {
    background-color: dodgerblue;
    font-family: 'Ubuntu';
    color: white;
    width: 75px;
    font-size: large;
    font-weight: bold;
    outline: none;
    text-align: center;
}

.fixedTitle {
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    /*max-height: 200px;*/
    background: rgb(0,82,255);
    background: -moz-linear-gradient(90deg, rgba(0,82,255,1) 0%, rgba(0,155,255,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(0,82,255,1) 0%, rgba(0,155,255,1) 100%);
    background: linear-gradient(90deg, rgba(0,82,255,1) 0%, rgba(0,155,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0052ff",endColorstr="#009bff",GradientType=1);
    padding: 20px 0px;
    border-bottom-style: solid;
    border-bottom-color: dodgerblue;
    border-bottom-width: 10px;
}

.fixedImg {
    display: block;
    width: 50%;
    /**/
    max-height: 100px;
}

.amount {
    color: white;
    font-size: large;
    font-weight: bolder;
}