@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

body {
    background-color: DodgerBlue;
    font-family: 'Ubuntu';
    font-weight: bold;
}

button {
    font-family: 'Ubuntu';
    font-weight: bold;
    background-color: orange;
    border-style: none;
    border-radius: 10px;
    padding: 10px;
    outline: none;
}

button:hover{
    background-color: white;
}

input {
    border-radius: 10px;
    font-family: 'Ubuntu';
    padding: 10px 5px;
    border-style: none;
    outline: none;
}

img {
    width: 50%;
}

.curr {
    background-color: rgb(0, 110, 219);
    color: white;
    border-style: none;
    border-radius: 30px;
    width: 50%;
    padding: 10px;
}

.sign {
    width: 15px;
    padding: 4px 7px 0px 7px;
}

.info {
    background-color: rgb(219, 88, 0);
    color: white;
    border-style: none;
    border-radius: 30px;
    width: 50%;
    padding: 10px;
}

#amount {
    width: 150px;
}

select {
    border-radius: 10px;
    font-family: 'Ubuntu';
    padding: 10px 5px;
    border-style: none;
    outline: none;
}